# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Node.js
node_modules/
.node-bin/
dist/
.vite/

# Temporary screenshots
screenshot_*.png


